h1{
    color:#ffc0cb;
    font-size: 65px;
    padding-left: 800px;
}
h2{
    display: inline;
    text-align: center;
    color: white;
    font-size: 35px;
    padding-left: 400px;
    padding-right: 300px;
    
}
body{
    background-color:white
}
p{
    color:grey;
    font-size: 22px;
}
h3{
    color:#ffc0cb;
    font-size:30px;
    border-style: dashed;
    display: inline-block;
    border-radius: 50px;
    padding: 10px;
}
img{
    display:block
}
section{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 0px;
 
}
.navigation{
    background-color: #ffc0cb;
    height: 50px;
}
footer{
    background-color:#ffc0cb ;
    height: 150px;
    
}
#nugg-about{
    padding-bottom: 10px;
}